*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    height: 100vh;
}

.container{
    position: relative;
    transform-style: preserve-3d;
}



.circle{
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 25px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid hsl(calc(var(--i) * 15), 100%, 60%);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: animate 3s ease-in-out calc(var(--i) * 0.08s) infinite;
    
}

@keyframes animate {
    0%, 100%{
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate(0deg);
    }
    50%{
        transform: rotateX(70deg) translateZ(50px) translateY(-200px);
        filter: hue-rotate(360deg);
    }
}